</div>
<div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel" data-interval="false">
  {{!-- <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol> --}}
  <div class="carousel-inner">
    <div class="carousel-item active text-center">
      <img class="image350 p-1 bg-dark border border-dark rounded pb-4" src="/images/screenshots/jobskr.png" alt="First Slide">
      <div class="carousel-caption d-none d-md-block">
        <a href="text-light" class="text-light"><h5 class="bg-dark d-inline p-3 pb-4 mb-0 rounded-top font-weight-bold wideletter border-0">JOBSKR </a>
          <a href="" class="text-success"><i class="fab fa-github"></i></a>
        </h5>
        {{!-- <h5 class="btn btn-dark rounded-0 text-light font-weight-bold wideletter border-0"><i class="fab fa-github"></i> Github</h5> --}}
      </div>
    </div>
    <div class="carousel-item text-center">
      <img class="image350 p-1 bg-light border border-dark pb-4 rounded" src="/images/screenshots/SatelliteSearch.png" alt="Second Slide">
      <div class="carousel-caption d-none d-md-block">
        <a href="text-light" class="text-dark"><h5 class="bg-light d-inline p-3 pb-4 mb-1 rounded-top font-weight-bold wideletter border-0">Satellite Search </a>
          <a href="" class="text-success"><i class="fab fa-github"></i></a>
        </h5>
      </div>
    </div>
    <div class="carousel-item text-center">
      <img class="image350 p-1 bg-light border border-dark pb-4 rounded" src="/images/screenshots/GifSearch.png" alt="Third Slide">
      <div class="carousel-caption d-none d-md-block">
        <a href="text-light" class="text-dark"><h5 class="bg-light d-inline p-3 pb-4 mb-1 rounded-top font-weight-bold wideletter border-0">Gif Search </a>
          <a href="" class="text-danger"><i class="fab fa-github"></i></a>
        </h5>
      </div>
    </div>
    <div class="carousel-item text-center">
      <img class="image350 p-1 bg-dark border border-dark pb-4" src="/images/screenshots/BunnyWars.png" alt="Third Slide">
      <div class="carousel-caption d-none d-md-block">
        <a href="text-light" class="text-light"><h5 class="bg-dark d-inline p-3 pb-4 mb-0 rounded-top font-weight-bold wideletter border-0">Bunny Wars </a>
          <a href="" class="text-pink"><i class="fab fa-github"></i></a>
        </h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="bg-light border-top border-dark mt-0 mb-5 w-100" id="portPage">
<div class="container mt-3 pb-5">
  <h4 class="border-bottom border-dark mb-3 text-info">All Projects - <small class="text-secondary font-weight-bold">WEB APPS</small></h4>
  <div class=" row pl-3 pr-3">

    {{!-- Entry --}}
    <a href="http://www.google.com">
      <button class="col-12 col-sm-6 col-md-4 col-lg-3 btn btn-light border rounded-0" href="{{liveSiteLink}}" style="height=300px;">
        <h5 class="mb-0 pb-0 pt-2"><b class="text-dark wideletter">JOBSKR</b></h5>
        <p class="pt-0 mt-0 pb-0 mb-0 text-secondary"><small><i>Full-Stack SQL App</i></small></p>
        <img class=" border border-dark" src="/images/screenshots/jobskr.png"  style="max-height: 100px;"alt="">
        <p class="mb-2"><small class=""><a class="" href="{{githubLink}}">Github Repo</a></small></p>
      </button>
    </a>
    {{!-- /Entry --}}
    {{!-- Entry --}}
    <a href="http://www.google.com">
      <button class="col-12 col-sm-6 col-md-4 col-lg-3 btn btn-light border rounded-0" href="{{liveSiteLink}}" style="height=300px;">
        <h5 class="mb-0 pb-0 pt-2"><b class="text-dark">Satellite Search</b></h5>
        <p class="pt-0 mt-0 pb-0 mb-0 text-secondary"><small><i>Front-End API App</i></small></p>
        <img class=" border border-dark" src="/images/screenshots/SatelliteSearch.png"  style="max-height: 100px;"alt="">
        <p class="mb-2"><small class=""><a class="" href="{{githubLink}}">Github Repo</a></small></p>
      </button>
    </a>
    {{!-- /Entry --}}
    {{!-- Entry --}}
    <a href="http://www.google.com">
      <button class="col-12 col-sm-6 col-md-4 col-lg-3 btn btn-light border rounded-0" href="{{liveSiteLink}}" style="height=300px;">
        <h5 class="mb-0 pb-0 pt-2"><b class="text-dark wideletter">GIF Search</b></h5>
        <p class="pt-0 mt-0 pb-0 mb-0 text-secondary"><small><i>Front-End API App</i></small></p>
        <img class=" border border-dark" src="/images/screenshots/GifSearch.png"  style="max-height: 100px;"alt="">
        <p class="mb-2"><small class=""><a class="" href="{{githubLink}}">Github Repo</a></small></p>
      </button>
    </a>
    {{!-- /Entry --}}
    {{!-- Entry --}}
    <a href="http://www.google.com">
      <button class="col-12 col-sm-6 col-md-4 col-lg-3 btn btn-light border rounded-0" href="{{liveSiteLink}}" style="height=300px;">
        <h5 class="mb-0 pb-0 pt-2"><b class="text-dark wideletter">Train Database</b></h5>
        <p class="pt-0 mt-0 pb-0 mb-0 text-secondary"><small><i>Front-End Firebase App</i></small></p>
        <img class=" border border-dark" src="/images/screenshots/TrainTime.png"  style="max-height: 100px;"alt="">
        <p class="mb-2"><small class=""><a class="" href="{{githubLink}}">Github Repo</a></small></p>
      </button>
    </a>
    {{!-- /Entry --}}
    {{!-- Entry --}}
    <a href="http://www.google.com">
      <button class="col-12 col-sm-6 col-md-4 col-lg-3 btn btn-light border rounded-0" href="{{liveSiteLink}}" style="height=300px;">
        <h5 class="mb-0 pb-0 pt-2"><b class="text-dark wideletter">FriendFinder</b></h5>
        <p class="pt-0 mt-0 pb-0 mb-0 text-secondary"><small><i>Front-End Web App</i></small></p>
        <img class=" border border-dark" src="/images/screenshots/friendfinder.png"  style="max-height: 100px;"alt="">
        <p class="mb-2"><small class=""><a class="" href="{{githubLink}}">Github Repo</a></small></p>
      </button>
    </a>
    {{!-- /Entry --}}
    {{!-- Entry --}}
    <a href="http://www.google.com">
      <button class="col-12 col-sm-6 col-md-4 col-lg-3 btn btn-light border rounded-0" href="{{liveSiteLink}}" style="height=300px;">
        <h5 class="mb-0 pb-0 pt-2"><b class="text-dark wideletter">Burger App</b></h5>
        <p class="pt-0 mt-0 pb-0 mb-0 text-secondary"><small><i>Full-Stack SQL App</i></small></p>
        <img class=" border border-dark" src="/images/screenshots/GifSearch.png"  style="max-height: 100px;"alt="">
        <p class="mb-2"><small class=""><a class="" href="{{githubLink}}">Github Repo</a></small></p>
      </button>
    </a>
    {{!-- /Entry --}}
    {{!-- Entry --}}
    <a href="http://www.google.com">
      <button class="col-12 col-sm-6 col-md-4 col-lg-3 btn btn-light border rounded-0" href="{{liveSiteLink}}" style="height=300px;">
        <h5 class="mb-0 pb-0 pt-2"><b class="text-dark wideletter">Bunny Wars</b></h5>
        <p class="pt-0 mt-0 pb-0 mb-0 text-secondary"><small><i>Javascript Web Game</i></small></p>
        <img class=" border border-dark" src="/images/screenshots/BunnyWars.png"  style="max-height: 100px;"alt="">
        <p class="mb-2"><small class=""><a class="" href="{{githubLink}}">Github Repo</a></small></p>
      </button>
    </a>
    {{!-- /Entry --}}
    {{!-- Entry --}}
    <a href="http://www.google.com">
      <button class="col-12 col-sm-6 col-md-4 col-lg-3 btn btn-light border rounded-0" href="{{liveSiteLink}}" style="height=300px;">
        <h5 class="mb-0 pb-0 pt-2"><b class="text-dark">Crystal Collector</b></h5>
        <p class="pt-0 mt-0 pb-0 mb-0 text-secondary"><small><i>Javascript Web Game</i></small></p>
        <img class=" border border-dark" src="/images/screenshots/Crystals.png"  style="max-height: 100px;"alt="">
        <p class="mb-2"><small class=""><a class="" href="{{githubLink}}">Github Repo</a></small></p>
      </button>
    </a>
    {{!-- /Entry --}}
    {{!-- Entry --}}
    <a href="http://www.google.com">
      <button class="col-12 col-sm-6 col-md-4 col-lg-3 btn btn-light border-0 rounded-0" href="{{liveSiteLink}}" style="height=300px;">
        <h5 class="mb-0 pb-0 pt-2"><b class="text-dark wideletter">NFL Trivia</b></h5>
        <p class="pt-0 mt-0 pb-0 mb-0 text-secondary"><small><i>Javascript Web Game</i></small></p>
        <img class=" border border-dark" src="/images/screenshots/NFLTrivia.png"  style="max-height: 100px;"alt="">
        <p class="mb-2"><small class=""><a class="" href="{{githubLink}}">Github Repo</a></small></p>
      </button>
    </a>
    {{!-- /Entry --}}
    {{!-- Entry --}}
    <a href="http://www.google.com">
      <button class="col-12 col-sm-6 col-md-4 col-lg-3 btn btn-light border rounded-0" href="{{liveSiteLink}}" style="height=300px;">
        <h5 class="mb-0 pb-0 pt-2"><b class="text-dark wideletter">Hangman</b></h5>
        <p class="pt-0 mt-0 pb-0 mb-0 text-secondary"><small><i>Javascript Web Game</i></small></p>
        <img class=" border border-dark" src="/images/screenshots/Hangman.png"  style="max-height: 100px;"alt="">
        <p class="mb-2"><small class=""><a class="" href="{{githubLink}}">Github Repo</a></small></p>
      </button>
    </a>
    {{!-- /Entry --}}

  </div>
  <h4 class="border-bottom border-dark mb-3 mt-3 text-info">All Projects - <small class="text-secondary font-weight-bold">NODE.js APPS</small></h4>
  <div class=" row pl-3 pr-3 hoverTest">
    {{!-- Entry --}}
    <a href="http://www.google.com">
      <button class="col-12 col-sm-6 col-md-4 col-lg-3 btn btn-light border rounded-0" href="{{liveSiteLink}}" style="height=300px;">
        <h5 class="mb-0 pb-0 pt-2"><b class="text-dark wideletter">Liri</b></h5>
        <p class="pt-0 mt-0 pb-0 mb-0 text-secondary"><small><i>NodeJS API App</i></small></p>
        {{!-- <img class=" border border-dark" src="/images/screenshots/hangman.png"  style="max-height: 100px;"alt=""> --}}
        <p class="mb-2"><small class=""><a class="" href="{{githubLink}}">Github Repo</a></small></p>
      </button>
    </a>
    {{!-- /Entry --}}
    {{!-- Entry --}}
    <a href="http://www.google.com">
      <button class="col-12 col-sm-6 col-md-4 col-lg-3 btn btn-light border rounded-0" href="{{liveSiteLink}}" style="height=300px;">
        <h5 class="mb-0 pb-0 pt-2"><b class="text-dark wideletter">Bamazon</b></h5>
        <p class="pt-0 mt-0 pb-0 mb-0 text-secondary"><small><i>NodeJS mySQL App</i></small></p>
        {{!-- <img class=" border border-dark" src="/images/screenshots/hangman.png"  style="max-height: 100px;"alt=""> --}}
        <p class="mb-2"><small class=""><a class="" href="{{githubLink}}">Github Repo</a></small></p>
      </button>
    </a>
    {{!-- /Entry --}}
  </div>
  </div>
</div>
<div>